$primary-color: #242943;
$primary-lighter-color: #2a314e;
$secondary-color: white;
$theme: #c662fc;
$font: 'Source Sans 3', sans-serif;
* {
  box-sizing: border-box;
  font-family: $font;
  margin: 0;
  padding: 0;
}
