@import 'config';

// .open-sans-p {
//   font-family: 'Open Sans', sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
//   font-variation-settings: 'wdth' 100;
// }
.layout {
  padding-top: 4rem;
}
.home {
  background-color: $primary-color;
  color: white;
  font-family: 'Source Sans 3', sans-serif;
  width: 100vw;
  height: 100vh;
  line-height: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test {
  color: rgb(190, 115, 190);
}

// .active {
//   background-color: lawngreen;
// }
h1,
h2,
h3 {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
body {
  background-color: $primary-color;
}

.main__name {
  background-color: pink;
}
